<div class="app-container">
  <mat-card class="input-card">
    <mat-card-header>
      <mat-card-title class="card-header-title">What would you like to know?</mat-card-title>
    </mat-card-header>
    <mat-card-content class="input-card-content">
      <mat-form-field appearance="outline" class="full-width-textarea-field">
        <mat-label>Enter text here...</mat-label>
        <textarea class="scrollbar" matInput #textareaElement cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1" cdkAutosizeMaxRows="2" [(ngModel)]="inputText"
          [disabled]="analysisStateManager.isLoading" [maxLength]="maxInputLength"
          (input)="onTextareaInput()"></textarea>
      </mat-form-field>

      <div class="controls-wrapper">
        <mat-radio-group class="analysis-type-group" [(ngModel)]="analysisType"
          [disabled]="analysisStateManager.isLoading">
          <mat-radio-button *ngFor="let typeOption of analysisTypes" [value]="typeOption">
            {{ typeOption | titlecase }}
          </mat-radio-button>
        </mat-radio-group>

        <div class="toggle-and-count-wrapper">
          <mat-slide-toggle class="mode-toggle" [(ngModel)]="isOnline" [disabled]="analysisStateManager.isLoading">
            {{ isOnline ? 'Online' : 'Offline' }} Mode
          </mat-slide-toggle>

          <span class="char-count" [class.limit-reached]="inputText.length >= maxInputLength">
            {{ inputText.length }} / {{ maxInputLength }}
          </span>
        </div>

        <button mat-mini-fab color="primary" (click)="analyzeText()"
          [disabled]="!!analysisStateManager.getAnalysisButtonTooltipText(inputText, maxInputLength)"
          [matTooltip]="analysisStateManager.getAnalysisButtonTooltipText(inputText, maxInputLength) || ''"
          matTooltipPosition="above" aria-live="polite">
          <mat-icon *ngIf="analysisStateManager.isLoading" class="button-icon">
            <i class="fas fa-spinner fa-spin"></i>
          </mat-icon>
          <mat-icon *ngIf="!analysisStateManager.isLoading" class="button-icon">
            <i class="fas fa-paper-plane"></i>
          </mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <div *ngIf="analysisStateManager.errorMessage" class="error-message" role="alert">
    {{ analysisStateManager.errorMessage }}
  </div>

  <mat-progress-bar *ngIf="analysisStateManager.isLoading" mode="indeterminate"
    class="loading-progress-bar"></mat-progress-bar>

  <mat-card-title class="card-header-title">History</mat-card-title>

  <mat-card class="history-card">
    <mat-card-content class="history-content-scroll scrollbar">
      <div *ngIf="analysisHistoryService.previousAnalyses.length === 0 && !analysisStateManager.isLoading"
        class="no-history">
        No previous requests yet.
      </div>
      <div *ngFor="let analysis of analysisHistoryService.previousAnalyses; let i = index">
        <mat-card class="analysis-item-card" [class.error]="analysisHistoryService.isErrorResult(analysis.result)">
          <mat-card-header class="analysis-item-header">
            <mat-card-title class="analysis-type-text">
              Analysis type: {{ analysis.type | titlecase }} ({{ analysis.mode }} mode)
            </mat-card-title>
            <span class="analysis-timestamp">{{ analysis.timestamp | date:'shortTime' }}</span>
          </mat-card-header>
          <mat-card-content class="analysis-item-content">
            <p class="analysis-input-paragraph">
              <strong>Input:</strong> <span class="analysis-input-text-material scrollbar">"{{ analysis.text }}"</span>
            </p>
            <div class="result-output" [innerHTML]="analysisHistoryService.formatResult(analysis.result)"></div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>